# the ID of the slack team
SLACK_TEAM="T<add here>"
# get this from https://api.slack.com
SLACK_SIGNING_SECRET="<add here>"
SLACK_BOT_TOKEN="xoxb-<add here>"
SLACK_APP_TOKEN="xapp-<add here>"
SLACK_CLIENT_ID="number.number"
SLACK_CLIENT_SECRET="<add here>"

# slack api doesn't allow a bot to add an emoji
# so you need to give the xoxc token and cookie of a normal user account!
#
# the link below explains it well! (from emojibot, which this was inspired by!!)
# https://github.com/taciturnaxolotl/emojibot?tab=readme-ov-file#getting-the-slack-user-token-and-cookie
SLACK_USER_XOXC="xoxc-<add here>"
SLACK_COOKIE="<add here>"

# comma-separated list of channels that the bot will work in!
# you will need to add the bot to these channels! dont worry about the normal user
SLACK_CHANNELS="C<add here>,C<add here>"

# your Neon DB URL
DATABASE_URL="<add here>"

# random value for jwt signing - use `openssl rand -base64 33`
JWT_SIGNING_SECRET=""

# base URL, where the app is hosted - change this! (NO TRAILING SLASHES)
BASE_URL="http://localhost:5173"

# the code for emojicache is available at https://www.val.town/x/webdev03/emojicache
# an xoxb token with the emoji:read permission needs to be added to the emojicache instance 
PUBLIC_EMOJI_CACHE_GET_URL="https://<add-here>.val.run/"
EMOJI_CACHE_UPDATE_URL="https://<add-here>.val.run/" # !! this is different from the above !!
# this key is the `X_TOKEN` environment variable that you added to the emojicache instance
# when a new sticker is added, the emoji cache is reset
EMOJI_CACHE_UPDATE_TOKEN="<add here>" 
