# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea
/shelf/
/workspace.xml
/httpRequests/
/mavenHomeManager.xml
/dataSources/
/dataSources.local.xml
*.iml

# Finder (MacOS) folder config
.DS_Store
Thumbs.db

# Turborepo
.turbo

# Output for SvelteKit
.output
.vercel
.netlify
.wrangler
.svelte-kit
build

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

